<div class="container">
  <div class="row text-center">
    <span ng-click="goBack()"><-Back</span>
    <h1>{{pokemonInfo.name}}({{pokemonInfo.id}})</h1>
  </div>
  <div class="row text-center">
    <img class="profile-pokemon-img" src="/img/{{pokemonInfo.id}}.png">  
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>height: {{pokemonInfo.height}}</h2>
      <h2>weight: {{pokemonInfo.weight}}</h2>
      <h2>Basic stats</h2>
      <div class="row text-center pokeStatChart">
        <canvas 
          id="bar" 
          class="chart chart-bar" 
          chart-data="data" 
          chart-labels="labels" 
          chart-series="series"
          chart-colors="colours" 
          style="border:1px solid #000000;">
        </canvas>
      </div>
    
      <h2>Moves</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="move in pokemonInfo.moves">{{move}}</li>
      </ul>
    </div>
  </div>
  
</div>
